@{
    ViewData["Title"] = "Fail";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Brampton Hospital - Failure</title>
    
</head>
<body>
    <h1>Failure to add patient</h1>
    <p>Please try again <a href="~/Patients/Create">Here</a></p>
    <p>Please browse our FAQ if you are having trouble adding a patient to the system.</p>

</body>
</html>
