@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Brampton Hospital</h1>
    <p>Welcome to Brampton Hospital. Here you can create doctors, patients and appointments. Have a nice day.</p>
</div>
